@use "./style/Variables.scss" as *;

@import url(./style/Header.scss);
@import url(./style/Footer.scss);
@import url(./style/Accueil.scss);
@import url(./style/Combat.scss);
@import url(./style/Inscription.scss);
@import url(./style/Connection.scss);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
