@use "./Variables.scss" as *;

.footer {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $text-color-black;

  .footer-rights {
    padding-left: 20px;
    color: $text-color-white;
    font-family: "street";
  }

  .footer-about {
    padding-right: 20px;
    color: $text-color-white;
    font-family: "street";
    text-decoration: none;
  }
}
