@font-face {
  font-family: "Street";
  src: url(../assets/Fonts/Street/STRCMIT_.ttf);
}
@font-face {
  font-family: "Streetart";
  src: url(../assets/Fonts/StreetArt/StreetartDemoRegular.ttf);
}

$text-color-purple: #bc27c4;
$button-color-darkpurple: #5927c4;
$text-color-blue: #1654a6;
$text-color-black: #000000;
$text-color-white: #ffffff;
$font-title: "Streetart";
$font-text: "Street";
